@font-face {
  font-family: Open Sans;
  src: url(../assets/fonts/OpenSans-VariableFont_wdth\wght.ttf);
}

footer {
  font-family: Open Sans, sans-serif;
}

.sponsor__section {
  background-color: var(--footer-background-color-light);
  color: var(--foreground-color);
  width: 100%;
  padding: var(--spacing-meduim);
}

.sponsor__logo--container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: var(--spacing-meduim);
}

.company__section {
  background-color: var(--footer-background-color-dark);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-meduim) var(--spacing-large);
  border-bottom: 1px solid #ccc;
}

.footer__list--container {
  display: flex;
  gap: var(--spacing-large);
}

.footer__list--link {
  color: var(--footer-link-color);
  font-size: 0.7rem;
  text-decoration: none;
}

.footer__socials--container {
  display: flex;
  gap: var(--spacing-large);
  justify-content: center;
  margin-right: var(--spacing-meduim);
}

.copyright__section {
  background-color: var(--footer-background-color-dark);
  color: var(--footer-link-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-large);
  font-size: 0.7rem;
  font-weight: 300;
}

.copyright__paragraph {
  letter-spacing: 1px;
}

/* Psuedo classes */
.footer__list--link:hover {
  text-decoration: underline;
}

/* Media queries */
@media screen and (max-width: 550px) {
  .sponsor__logo--container {
    flex-wrap: wrap;
  }
  .company__section {
    padding: var(--spacing-meduim);
  }
  .footer__list--container {
    gap: var(--spacing-meduim);
  }
  .footer__socials--container {
    gap: var(--spacing-meduim);
    margin-right: var(--spacing-small);
  }
}
