@import url("https://fonts.googleapis.com/css2?family=Iceberg&display=swap");

@font-face {
  font-family: Open Sans;
  src: url(../assets/fonts/OpenSans-VariableFont_wdth\wght.ttf);
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: white;
}

/* Header */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__container {
  background-color: var(--navbar-background-color);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-large);
}

.header__img {
  height: 400px;
}

.main-heading {
  background-color: var(--navbar-background-color);
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: var(--spacing-large);
  font-family: Open Sans, sans-serif;
  font-size: 2rem;
  font-weight: 600;
}

/* Main */

main {
  padding: var(--spacing-large);
}

.section__heading {
  background-color: black;
  color: white;
  width: 150px;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-meduim);
  margin: var(--spacing-large) 0 var(--spacing-large) var(--spacing-meduim);
  border-radius: var(--link-border-radius);
  font-family: Open Sans, sans-serif;
  font-size: var(--font-size-base);
}

.section__container {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-x-large);
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: var(--spacing-x-large);
  border-bottom: 1px solid #000;
  font-family: Open Sans, sans-serif;
}

.attacker-section {
  border-bottom: none;
}

/* Card Styling */
.card__container {
  background-image: linear-gradient(to bottom, #fff, lightgrey);
  position: absolute;
  width: 350px;
  height: 400px;
  position: relative;
  transform-style: preserve-3d;
  transition: all 0.3s ease;
  border: 1px solid #d8d8d8;
  border-radius: var(--card-border-radius);
  box-shadow: 0 4px 4px #919191;
}

.card__content {
  width: 350px;
  height: 400px;
  transform-style: preserve-3d;
  transition: all 0.3s ease;
  padding: var(--spacing-small);
}

.front__card {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.back__card {
  position: relative;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-image: linear-gradient(#e52d27, #b31217);
  color: white;
  transform: rotateY(180deg);
  border-radius: var(--card-border-radius);
}

/* Card Content */
/* Front Card */
.card__header--front,
card__header--back {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-meduim) var(--spacing-large);
}

.card__heading {
  height: 25%;
  font-size: var(--font-size-large);
  font-weight: 500;
}

.card__number {
  font-family: "Iceberg", sans-serif;
  font-size: calc(var(--font-size-x-large) * 1.5);
  font-weight: 500;
}

.card__img--container {
  max-width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
}

.card__image {
  max-width: 100%;
  padding: var(--spacing-meduim) 0;
}

.card__paragraph {
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Open Sans, sans-serif;
  font-size: var(--font-size-large);
  font-weight: 600;
}

/* Back Card */
.card__heading--back {
  padding: var(--spacing-meduim) 0;
  text-align: center;
  font-size: var(--font-size-meduim);
  font-weight: 600;
}

.stat__line {
  display: flex;
  justify-content: space-between;
  padding: var(--spacing-small);
  margin: 0 var(--spacing-small);
  border-bottom: 1px solid #fff;
}

.stat__line--img {
  height: 12px;
  width: 16px;
}

/* Psuedo Classes */
/* Player Card */
.card__container:hover {
  transform: rotateY(180deg);
}

/* Media queries */
@media screen and (max-width: 768px) {
  .header__img {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .main-heading {
    font-size: var(--font-size-meduim);
  }
}
@media screen and (max-width: 400px) {
  .card__container {
    width: 250px;
  }
  .card__content {
    width: 250px;
  }
}
