@font-face {
  font-family: Open Sans;
  src: url(../assets/fonts/OpenSans-VariableFont_wdth\wght.ttf);
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: white;
}

/* Header */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__container {
  background-color: var(--navbar-background-color);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-large);
}

.header__img {
  height: 400px;
}

.main-heading {
  background-color: var(--navbar-background-color);
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: var(--spacing-large);
  font-family: Open Sans, sans-serif;
  font-size: 2rem;
  font-weight: 500;
}

/* Main */

main {
  padding: var(--spacing-large);
}

.section__heading {
  background-color: black;
  color: white;
  width: 15%;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-meduim);
  margin: var(--spacing-large) 0 var(--spacing-large) var(--spacing-meduim);
  border-radius: var(--link-border-radius);
  font-family: Open Sans, sans-serif;
  font-size: var(--font-size-base);
}

.section__container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: var(--spacing-x-large);
  border-bottom: 1px solid #000;
  font-family: Open Sans, sans-serif;
}

/* Card Styling */
.card__container {
  background-image: linear-gradient(to bottom, #fff, lightgrey);
  width: 350px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-meduim);
  border: 1px solid #d8d8d8;
  border-radius: 4px;
  box-shadow: 0 4px 4px #919191;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--spacing-large);
}

.card__heading {
  font-size: var(--font-size-large);
  font-weight: 600;
}

.card__number {
  font-family: Open Sans, sans-serif;
  font-size: calc(var(--font-size-large) * 1.5);
  font-weight: 600;
}

.card__img--container {
  width: 350px;
  height: 100%;
  padding: 0 var(--spacing-meduim);
}

.card__image {
  width: 100%;
  padding: var(--spacing-meduim) 0;
}

.card__paragraph {
  padding: var(--spacing-meduim);
  text-align: center;
  font-family: Open Sans, sans-serif;
  font-size: var(--font-size-large);
  font-weight: 600;
}
