@font-face {
  font-family: Open Sans;
  src: url(../assets/fonts/OpenSans-VariableFont_wdth\wght.ttf);
}

body {
  min-width: 320px;
  width: 100%;
  min-height: 100vh;
  font-family: Open Sans, sans-serif;
}

/* Header */
.heading__container {
  width: 100%;
  background-color: var(--navbar-background-color);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--spacing-large);
}

.heading__paragraph {
  padding: var(--spacing-meduim);
  font-weight: 600;
}

/* Main */
main {
  background-color: #e20000;
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main__background--container {
  width: 100%;
  height: 100%;
  background-image: url(../assets/img/Liverpool_football_club_pitch_entrance.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
}

.main__link--container {
  width: 50%;
  display: flex;
  justify-content: center;
}

.main__container {
  width: 500px;
  display: flex;
  justify-content: center;
  margin-top: var(--spacing-x-large);
}

.link__container {
  background-color: #e20000;
  color: #fff;
  width: 100%;
  height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.link__paragraph {
  height: 40px;
  font-weight: 500;
  text-align: center;
  padding: var(--spacing-small);
}

.link__button {
  color: white;
  width: 50%;
  display: flex;
  justify-content: center;
  padding: var(--spacing-small);
  border: var(--link-border);
  border-radius: var(--link-border-radius);
  text-decoration: none;
}
.left-arrow {
  transform: rotate(180deg);
}

/* Psuedo Classes */
.link__button:hover {
  background-color: #a40606;
  transition: 0.3s ease;
}

/* Media queries */
@media screen and (max-width: 700px) {
  .main__container {
    width: 100%;
  }
  .main__background--container {
    background-size: contain;
    background-position: inherit;
  }
  .main__link--container {
    width: 75%;
  }
}

@media screen and (max-width: 620px) {
  body {
    min-height: 100vh;
  }
  .main__background--container {
    align-items: end;
    padding-bottom: var(--spacing-large);
  }
}

@media screen and (max-width: 420px) {
  .main__heading {
    font-size: var(--font-size-large);
  }
  .main__background--container {
    align-items: center;
    padding-top: var(--spacing-x-large);
  }
}

@media screen and (max-width: 375px) {
  .main__heading {
    text-align: center;
  }
  .main__link--container {
    margin-top: 5rem;
    font-size: 0.8rem;
  }
}
