@font-face {
  font-family: Open Sans;
  src: url(../assets/fonts/OpenSans-VariableFont_wdth\wght.ttf);
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: Open Sans, sans-serif;
  background-image: url(../assets/img/Liverpool_football_club_pitch_entrance.jpeg);
  background-size: contain;
}

main {
  height: 70vh;
}

.heading__container {
  color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--spacing-large);
}

.heading__paragraph {
  padding: var(--spacing-meduim);
  font-weight: 600;
}

.main__container {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
}

.link__container {
  background-color: #e20000;
  color: #fff;
  width: 20%;
  height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.link__paragraph{
  font-weight: 500;
  text-align: center;
}

.link__button {
  color: white;
  width: 25%;
  display: flex;
  justify-content: center;
  padding: var(--spacing-small);
  border: var(--link-border);
  border-radius: var(--link-border-radius);
  text-decoration: none;
}
.left-arrow {
  transform: rotate(180deg);
}

.link__button:hover {
  background-color: #a40606;
  transition: 0.3s ease;
}
