body {
  width: 100%;
  min-height: 100vh;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: calc(var(--font-size-x-large) * 3);
  padding-bottom: var(--spacing-large);
}

.main__heading--container {
  width: 250px;
  margin: var(--spacing-large) 0 var(--spacing-large) var(--spacing-meduim);
}

.main__heading {
  background-color: black;
  color: white;
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-meduim);
  border-radius: var(--link-border-radius);
  font-family: Open Sans, sans-serif;
  font-size: var(--font-size-base);
  font-weight: 600;
}

.header__logo--container {
  width: 25%;
  display: flex;
  justify-content: center;
}

.header__logo {
  width: 48px;
}

/* Main */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: calc(var(--spacing-x-large)) * 3;
}

/* Table */
table {
  width: 100%;
  font-family: Open Sans, sans-serif;
  font-weight: 600;
  padding: var(--spacing-x-large);
  margin-bottom: var(--spacing-large);
}

/* Table Head */
.table__heading {
  color: #727272;
  padding: var(--spacing-small) 0;
  font-weight: 500;
}

.position-heading {
  text-align: left;
}

/* Table Body */
tr,
td {
  padding: var(--spacing-small) 0;
  border-top: 1px solid #727272;
}

td {
  color: #4c4c4c;
  text-align: center;
  font-weight: 500;
}

.position__number {
  text-align: center;
}
.position__indicator {
  text-align: left;
}

.club__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.club__logo {
  width: 48px;
}

.club__name {
  color: #4c4c4c;
  font-weight: 500;
  text-align: center;
}

/* Media queries */
@media screen and (max-width: 768px) {
  main{
    padding: var(--spacing-meduim);
  }
  table{
    padding: var(--spacing-meduim);
  }
  .goal-stats{
    display: none;
  }
}

@media screen and (max-width: 690px) {
  header{
    padding: var(--spacing-x-large) var(--spacing-meduim);
  }
  .main__heading--container{
    width: 200px;
    /* height: auto; */
  }
  .main__heading{
    padding: var(--spacing-meduim) var(--spacing-small);
  }
}

@media screen and (max-width: 470px) {
  .header__logo{
    width: 32px;
  }
  table{
    padding: 0;
  }
}