:root {
  /* Colors */
    --background-color: ;
    --foreground-color: #fff;

  /* Spacing */
  --spacing-small: 0.5rem;
  --spacing-meduim: 1rem;
  --spacing-large: 2rem;
  --spacing-x-large: 4rem;

  /* Font size */
  --font-size-base: 1rem;
  --font-size-meduim: 1.2rem;
  --font-size-large: 1.5rem;
  --font-size-x-large: 2rem;

  /* Borders */
  --link-border: 1px solid #fff;
  --link-border-radius: 16px;

  /* Navbar */
  --navbar-background-color: #e20000;
  --navbar-foreground-color: #fff;
  --navbar-hover-color: #af2828;

  /* Footer */
  --footer-background-color-dark: #840e0e;
  --footer-background-color-light: #e20000;
  --footer-link-color: #ccc;
}
